Options +FollowSymlinks
RewriteEngine On
RewriteRule ^admin/login/?$ controllers/AdminController.php [L,QSA]


RewriteRule ^pages/article-([_a-z0-9]*)\.html$ pages/modules.php?id=$1 [L,QSA]

RewriteRule ^.*/?.*-([_a-z0-9]+)-([_a-z0-9]+)\.html$ pages/modules.php?id=$1&idcat=$2 [L,QSA]

RewriteRule ^.*/?.*-([_a-z0-9]+)-([_a-z0-9]+)\.php$ pages/modules.php?id=$1&idcat=$2 [L,QSA]